body {
    margin-right: auto;
    margin-left: auto;
    background: #fff;
}

  a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote,
body, canvas, caption, center, cite, code, dd, del, details, dfn, dialog,
div, dl, dt, em, embed, fieldset, figcaption, figure, font, footer, form,
header, hgroup, hr, html, i, iframe, img, ins, kbd, label, legend, li, mark,
menu, meter, nav, object, ol, output, p, pre, progress, q, rp, rt, ruby, s,
samp, section, small, span, strike, strong, sub, summary, sup, table, tbody,
td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
    border: 0;
    margin: 0;
    padding: 0;
}



body, html {
    background: #fff;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
   -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

article, aside, details, figcaption, figure, footer, header, hgroup,
menu, nav, section {
    display: block
}



b, strong {
    font-weight: 700
}

ol, ul {
    list-style: none
}

li {
    display: list-item;
    list-style: none;
}



table {
    border-collapse: collapse;
    border-spacing: 0
}

caption, td, th {
    font-weight: 400;
    vertical-align: top;
    text-align: left
}

q {
    quotes: none
}

a {
    text-decoration: none;
    color: #000;
}

q:after, q:before {
    content: '';
    content: none
}

small, sub, sup {
    font-size: 20%;
}

sub, sup {
    line-height: 1;
    left: -18px;
    position: relative;
    vertical-align: relative;
}

sub {
    bottom: -.35em
}

sup {
    top: -.80em;
    font-size: 0.25em;
    font-weight: 400;
}

svg {
    overflow: hidden;
}

input, button, submit { 
    border:none; } 


p {
    font-family: TimesNewRoman, "Times New Roman", Times;
    font-weight: 100;
	font-size: 15px;
}

h1 {
    font-family: TimesNewRoman, "Times New Roman", Times;
    font-weight: 100;
	font-size: 50px;
    align-content: center;
}

h1:hover{
    font-style: italic;
}

h2 {
    font-family: TimesNewRoman, "Times New Roman", Times;
    font-weight: 100;
	font-size: 15px;
}

h2:hover{
    opacity: .2;
}

h3{
    font-family: TimesNewRoman, "Times New Roman", Times;
    font-weight: 100;
	font-size: 15px;
}




a {
    text-decoration: none;
    
}



b, strong {
    font-weight: 600;
}

samp {
    display: none;
}

.container{
    width: 100vw;
    height: 100vh;
}


.header{
    width: 250px;
    height: 20px;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

